<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/mainLayout}">
<div layout:fragment="contents" th:remove="tag">
	<!-- 페이지 상단 메뉴명 작성 시작 -->
	<div class="page-top">
		<h1 class="page-title">배너 관리</h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">화면 관리</li>
				<li class="breadcrumb-item">배너 관리</li>
			</ol>
		</nav>
	</div>
	<!-- 페이지 상단 메뉴명 작성 끝 -->
	<div class="card">
		<div class="card-body">
			<div class="table-responsive-xxl">
				<form id="insertBanner" name="insertBanner">
					<input type="hidden" id="bannerSeq" th:value="${modify.bannerSeq}" />
					<input type="hidden" id="fileSeq" th:value="${modify.fileSeq}" />
					<input type="hidden" id="startDt" th:value="${modify.bannerStartDt}" />
					<input type="hidden" id="endDt" th:value="${modify.bannerEndDt}" />
					<input type="hidden" name="fileChangeFlag" value="N" />
					<table class="table table-bordered mb-0">
						<colgroup>
							<col style="width: 15%" />
							<col style="width: *" />
						</colgroup>
						<tbody>
						<tr>
							<th class="text-center">배너 종류</th>
							<td>
								<div class="form-control-wrapper w-100">
									<select id="bannerTypeCd" name="bannerTypeCd" class="form-select w-100"
											data-url="/bo/cd/BANNER_TYPE"
											th:data-selected="${modify.bannerTypeCd}"
									></select>
								</div>
							</td>
						</tr>
						<tr>
							<th class="text-center">배너 사용야부</th>
							<td>
								<div class="d-flex gap-5">
									<div class="form-check d-flex align-items-center gap-3">
										<input class="form-check-input flex-shrink-0"
											   type="radio" name="useFlag" id="useFlag1" value="Y" th:checked="${modify.useFlag} eq 'Y'"/>
										<label class="form-check-label" for="useFlag1">사용</label>
									</div>
									<div class="form-check d-flex align-items-center gap-3">
										<input class="form-check-input flex-shrink-0"
											   type="radio" name="useFlag" id="useFlag2" value="N" th:checked="${modify.useFlag} eq 'N'"/>
										<label class="form-check-label" for="useFlag2">미사용</label>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<th class="text-center">배너 순서</th>
							<td>
								<div class="form-control-wrapper w-100">
									<input type="text" class="form-control" id="bannerOrder" name="bannerOrder"
										   placeholder="배너 순서를 입력하세요" th:value="${modify.bannerOrder}"/>
								</div>
							</td>
						</tr>
						<tr>
							<th class="text-center">배너 시작일자</th>
							<td>
								<div class="form-control-wrapper w-100">
									<input type="text" class="form-control" id="bannerStartDt" name="bannerStartDt"
										   data-picker="date" autocomplete="off"/>
								</div>
							</td>
						</tr>
						<tr>
							<th class="text-center">배너 종료일자</th>
							<td>
								<div class="form-control-wrapper w-100">
									<input type="text" class="form-control" id="bannerEndDt" name="bannerEndDt"
										   data-picker="date" autocomplete="off"/>
								</div>
							</td>
						</tr>
						<tr>
							<th class="text-center">배너 이름</th>
							<td>
								<div class="form-control-wrapper w-100">
									<input type="text" class="form-control" id="bannerNm" name="bannerNm"
										   placeholder="배너 이름을 입력하세요" th:value="${modify.bannerNm}"/>
								</div>
							</td>
						</tr>
						<tr>
							<th class="text-center">링크 URL</th>
							<td>
								<div class="form-control-wrapper w-100">
									<input type="text" class="form-control" id="linkUrl" name="linkUrl" th:value="${modify.linkUrl}"/>
								</div>
							</td>
						</tr>
						<th:block th:if="${file ne null}">
							<tr th:if="${file.size() ne 0}" class="registered-file-tr">
								<th class="text-center">첨부 파일</th>
								<td colspan="3">
									<th:block th:unless="${#lists.isEmpty(file)}" th:each="list : ${file}">
										<a th:name="${list.id}" th:text="${list.originName}" th:href="${list.path}" target="_blank" class="mr-1 registered-file"></a>
										<button type="button" class="btn btn-sm btn-danger" data-role="fileDelete" th:name="${list.id}">파일 삭제</button>
									</th:block>
								</td>
							</tr>
						</th:block>
						<tr>
							<th class="text-center">업로드</th>
							<td colspan="3">
								<input type="file" id="banner-upload" multiple="multiple" name="file">
							</td>
						</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
	<div class="hstack gap-2 justify-content-end mt-4">
		<button type="button" class="btn btn-dark" style="width: 100px" data-role="update">저장</button>
		<button type="button" class="btn btn-outline-dark" style="width: 100px" data-role="detail">취소</button>
	</div>
</div>
</html>
