<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<div layout:fragment="contents" th:remove="tag">
    <div class="filter d-none d-lg-block">
        <div class="hstack justify-content-between gap-4">
            <div class="page-top mb-lg-1">
                <h1 class="page-title">계정관리</h1>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <table class="table table-bordered align-middle text-center">
            <thead class="table-light">
            <tr>
                <th style="width: 20%;">아이디</th>
                <th style="width: 20%;">비밀번호</th>
                <th style="width: 30%;">설명</th>
                <th style="width: 15%;">사용유무</th>
                <th style="width: 15%;">관리</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" class="form-control" name="newUserId"/></td>
                <td><input type="text" class="form-control" name="newPassword"/></td>
                <td><input type="text" class="form-control" name="newDescription"/></td>
                <td>
                    <select class="form-select" name="newUseYn">
                        <option value="Y">사용</option>
                        <option value="N">미사용</option>
                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm" data-role="register">등록</button>
                </td>
            </tr>

            <tr th:each="admin : ${adminList}">
                <td>
                    <input type="text" class="form-control" name="adminId" th:value="${admin.adminId}" />
                    <input type="hidden" name="adminSeq" th:value="${admin.adminSeq}" />
                </td>
                <td>
                    <input type="text" class="form-control" name="password" th:value="${admin.password}" />
                </td>
                <td>
                    <input type="text" class="form-control" name="description" th:value="${admin.description}" />
                </td>
                <td>
                    <select class="form-select" name="useYn">
                        <option value="Y" th:selected="${admin.useYn == 'Y'}">사용</option>
                        <option value="N" th:selected="${admin.useYn == 'N'}">미사용</option>
                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger btn-sm me-1" data-role="update" th:data-seq="${admin.adminSeq}">수정</button>
                    <button type="button" class="btn btn-danger btn-sm" data-role="delete" th:data-seq="${admin.adminSeq}">삭제</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</html>
