<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<div layout:fragment="contents" th:remove="tag">
    <div class="filter d-none d-lg-block ">
        <div class="hstack justify-content-between gap-4">
            <div class="page-top mb-lg-1">
                <h1 class="page-title">광고 내역 리스트</h1>
            </div>
        </div>
    </div>
    <form name="searchForm">
        <input type="hidden" name="page" th:value="${searchInfo.page}"/>
        <!-- filter -->
        <div class="filter">
            <div class="row align-items-center">
                <div class="col-12 col-lg d-flex flex-wrap gap-4 align-items-center">
                    <div class="gap-1 hstack">
                        <div class="form-field search" style="max-width: 220px;">
                            <div class="input-form">
                                <i class="icon-search"></i>
                                <input type="text" class="form-control search-form" name="searchText"
                                       th:value="${searchInfo.searchText}" placeholder="고객명 검색">
                                <button type="button" class="clear-button"><i class="icon-input-close"></i></button>
                            </div>
                        </div>
                        <div class="gap-1 hstack">
                            <button type="button" class="btn btn-dark" data-role="btn-search-form"
                                    style="min-width: 80px">검색
                            </button>
                            <button type="button" class="btn btn-dark" data-role="reset"
                                    style="min-width: 80px">초기화
                            </button>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="gap-1 hstack">
                            <input class="form-control form" data-picker="date"
                                   name="searchStart"
                                   placeholder="YYYY-MM-DD"
                                   type="text"
                                   th:value="${searchInfo.searchStart}">
                            -
                            <input class="form-control form" data-picker="date"
                                   name="searchEnd"
                                   placeholder="YYYY-MM-DD"
                                   type="text"
                                   th:value="${searchInfo.searchEnd}">
                        </div>
                    </div>
                    <div class="col-12 col-lg d-flex flex-wrap gap-4 align-items-center">
                        <div class="ms-auto">
                            <select autocomplete="off" class="form-select" name="searchType">
                                <option value="" th:selected="${searchInfo.searchType == ''}">전체</option>
                                <option value="COMPLETE" th:selected="${searchInfo.searchType == 'COMPLETE'}">진행완료
                                </option>
                                <option value="PROGRESS" th:selected="${searchInfo.searchType == 'PROGRESS'}">진행중
                                </option>
                            </select>
                        </div>
                        <!--<div class="col-auto ms-0">
                            <div class="gap-1 hstack d-flex align-items-center">
                                <select name="rowSize" class="form-select">
                                    <option value="10" th:selected="${searchInfo.rowSize == 10}">10</option>
                                    <option value="30" th:selected="${searchInfo.rowSize == 30}">30</option>
                                    <option value="50" th:selected="${searchInfo.rowSize == 50}">50</option>
                                </select>
                            </div>
                        </div>-->
                    </div>
                    <!--                    <div class="filter-item">-->
                    <!--                        <select autocomplete="off" class="form-select" name="searchType2">-->
                    <!--                            <option value="" th:selected="${searchInfo.searchType2 == ''}">전체</option>-->
                    <!--                            <option value="A" th:selected="${searchInfo.searchType2 == 'A'}">광고 상품</option>-->
                    <!--                            <option value="P" th:selected="${searchInfo.searchType2 == 'P'}">패키지 상품</option>-->
                    <!--                            <option value="S" th:selected="${searchInfo.searchType2 == 'S'}">시뮬레이션</option>-->
                    <!--                        </select>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </form>
    <!-- //filter -->
    <!-- table -->
    <div class="scroll-layout">
        <div class="scroll-content">
            <div class="row align-items-center justify-content-between mb-3">
                <div class="col-auto">Total <strong th:text="${searchInfo.totalCount}">-</strong></div>
                <!--<div class="col-auto">
                    <div class="hstack gap-2">
                        <select class="form-select form-select-sm" data-role="select-row">
                            <option value="10" th:selected="${searchInfo.rowSize} eq '10'">10개</option>
                            <option value="30" th:selected="${searchInfo.rowSize} eq '30'">30개</option>
                            <option value="50" th:selected="${searchInfo.rowSize} eq '50'">50개</option>
                        </select>
                    </div>
                </div>-->
            </div>
            <div class="list-table">
                <table class="table table-hover">
                    <colgroup>
                        <col width="10%">
                        <col width="20%">
                        <col width="40%">
                        <col width="20%">
                        <col width="10%">
                    </colgroup>
                    <thead>
                    <tr class="cursor-pointer">
                        <th class="text-center">No</th>
                        <th class="text-center">고객</th>
                        <th class="text-center">광고상품명</th>
                        <th class="text-center">광고 상태</th>
                        <th class="text-center">상세</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:if="${#lists.isEmpty(adHistoryList)}">
                        <tr>
                            <td colspan="8" class="text-center">내역이 없습니다.</td>
                        </tr>
                    </th:block>
                    <tr th:each="list : ${adHistoryList}" class="clickable-row">
                        <td class="text-center" th:text="${list.rowNum}"></td>
                        <td class="text-center" th:text="${list.name}"></td>
                        <td class="text-center" th:text="${list.title}"></td>
                        <td class="text-center" th:text="${list.statusNm}"></td>
                        <td class="text-center">
                            <button type="button" class="btn btn-dark" data-role="detail"
                                    th:value="${list.productRequestId}" th:data-seq="${list.productRequestId}">
                                조회
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <th:block th:replace="fragments/paging :: paging_Fragment"/>
            </div>
        </div>
    </div>
    <!-- //table -->
</div>
</html>