<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <th:block th:include="fragments/head :: commonMetaAndTitle"/>
        <th:block th:include="fragments/head :: commonStyle"/>
        <th:block layout:fragment="head" th:remove="tag"/>
    </head>
    <body>
    <div id="wrap">
        <th:block th:replace="fragments/_navbar :: common"/>
        <main id="main">
            <th:block th:replace="fragments/_sidebar :: common"/>
            <div id="container">
                <th:block layout:fragment="contents"/>
            </div>
        </main>
    </div>
    <th:block th:replace="fragments/_modal :: modal"/>
    <th:block th:replace="fragments/javascript :: common"/>
    </body>
</html>