.card{
  @include media-breakpoint-up(md){
    --bs-card-spacer-x: 1.5rem;
    --bs-card-spacer-y: 1.5rem;
    --bs-card-cap-padding-x: 1.5rem;
    --bs-card-cap-padding-y: 1.5rem;
  }
  @include media-breakpoint-up(lg){
    --bs-card-spacer-x: 2rem;
    --bs-card-spacer-y: 2rem;
    --bs-card-cap-padding-x: 2rem;
  }
}
.card-header{
  border: 0;background: none;padding-bottom: 0 !important;
  .card-title{
    font-size: 16px;font-weight: 500;margin-bottom: 0;
    @include media-breakpoint-up(lg){
      font-size: 20px;
    }
  }
  @include media-breakpoint-down(md){
    padding: 1rem;
  }
}

.card-body{
  @include media-breakpoint-down(md){
    padding: 1rem;
  }
}